#root {
  margin: 0 auto;
  font-family: "Source Sans 3", sans-serif;
  cursor: default;
  display: flex;
  flex-direction: column;
  height: 100%;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
nav {
  align-items: flex-end;
  white-space: nowrap;
  margin: 1rem auto 0;
  width: 100%;
}
nav img {
  height: 3rem;
  mix-blend-mode: multiply;
}
nav ul {
  display: flex;
  gap: 3.2rem;
  margin: 0;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  transition: all 0.3s ease;
}
nav ul li a:hover {
  color: #0261a3;
}
.noMercado {
  display: flex;
  color: #014270;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  width: 15.25rem;
  line-height: 90%;
  border-radius: 0.5rem;
  background: #f0f5f9;
  padding: 0.5rem 0.75rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.esqText h1 {
  color: #014270;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 80%;
  max-width: 33.25rem;
}
.bemVindo {
  color: #a0a0a0;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 27.375rem;
}
.buttonContato {
  white-space: nowrap;
  color: #014270;
  display: flex;
  text-align: center;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 700;
  padding: 0.7rem 1.3rem;
  border-radius: 0.5rem;
  background: #ffd01b;
  border: none;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}
.buttonContato:hover {
  background: #ffdf4f;
  color: #0b4f80;
}
.buttonContato:active {
  background: #ffdf4fb4;
  color: #0b4f80cb;
}
.buttonContato:focus {
  outline: none;
}
.buttonLojas {
  color: #014270;
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  outline: none;
  background: none;
  border: none;
  transition: all 0.2s ease;
}
.buttonLojas:hover {
  color: #206da3;
  cursor: pointer;
}
.buttonLojas:active {
  color: #104b75;
}
.maintop {
  margin: 4.4rem auto 0;
  width: 95%;
}
.maintop img {
  width: 40%;
}
.botoes {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.esqText {
  display: flex;
  gap: 2.2rem;
  flex-direction: column;
}
.esqText h1 {
  margin: 0;
}
.esqText p {
  margin: 0;
}
.QualidadeVariedadePreco {
  display: flex;
  justify-content: space-evenly;
  max-width: 82.5rem;
  width: 95%;
  border-radius: 0.625rem;
  background: #f0f5f9;
  margin: 3.4rem auto 0;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.qualidade,
.variedade,
.preco {
  display: flex;
  gap: 1rem;
  padding: 1.3rem 1rem;
}
.qualidade p,
.variedade p,
.preco p {
  margin: 0;
  color: #404040;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.qualidade h3,
.variedade h3,
.preco h3 {
  margin: 0;
  color: #0261a3;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.qualidade img,
.variedade img,
.preco img {
  height: 1.7rem;
  align-self: center;
}
.line {
  content: "";
  width: 1px;
  background-color: #8c8c8c93;
  margin: 0 0.5rem;
  height: 2.3rem;
  align-self: center;
}
.maintop2 {
  flex-direction: row;
  margin: 2.5rem auto 0;
  gap: 2rem;
  align-items: center;
}
.blocoAnuncio {
  flex-grow: 1;
  background-image: url("./assets/anuncio.svg");
  height: 19rem;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.625rem;
  background-size: cover;
  min-width: 16rem;
}
.FacaSeuCartao {
  background-image: url("./assets/facaCartao.svg");
  transition: opacity 0.2s ease;
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: cover;
  border-radius: 0.625rem;
  color: #f0f5f9;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  min-height: 6.0625rem;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}
.FacaSeuCartao h3 {
  margin: 0;
  max-width: 15rem;
  color: #fff;
}
.FacaSeuCartao button {
  border: none;
  border-radius: 0.3rem;
  background: #dee4e7;
  padding: 0.3rem 0.6rem;
  max-width: 12rem;
  width: 100%;
  color: #0261a3;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  cursor: pointer;
  font-family: "Source Sans 3", sans-serif;
  transition: all 0.2s ease;
}
.FacaSeuCartao button:hover {
  background: #fff;
  color: #0261a3;
}
.FacaSeuCartao:hover {
  opacity: 0.9;
}
.vendaComAGente,
.CanaisDeAtendimento {
  border-radius: 0.625rem;
  background: #f0f5f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1.3rem;
  gap: 1rem;
  max-width: 202px;
}
.vendaComAGente h3,
.CanaisDeAtendimento h3 {
  color: #132438;
  text-align: center;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.vendaComAGente strong {
  color: #0261a3;
  text-align: center;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.vendaComAGente button,
.CanaisDeAtendimento button {
  display: flex;
  width: 10.0625rem;
  height: 1.75rem;
  padding: 0.8rem 2.8125rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 0.375rem;
  border: 2px solid #0261a3;
  background-color: transparent;
  color: #0261a3;
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.2s ease;
  cursor: pointer;
}
.vendaComAGente button:hover,
.CanaisDeAtendimento button:hover {
  background-color: #0261a3;
  color: #ffffff;
}
.entrarEmContato {
  display: flex;
  gap: 1.25rem;
}
.flex2 {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flexInLine {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}
@media screen and (max-width: 856px) {
  .flexInLine {
    gap: 0rem;
  }
  nav ul {
    gap: 2rem;
  }
  .HorarioFuncionamento {
    margin: 2rem 0 0;
  }
}
@media screen and (max-width: 830px) {
  .LojaInfoAndHorarioFuncionamento {
    flex-direction: column;
  }
}
.SacolaDeCompras {
  display: none;
}
.flexInLine img {
  width: 3rem;
  padding: 0.8rem;
  border-radius: 0.625rem;
  background: #d9d9d9;
  filter: grayscale(100%);
  object-fit: contain;
  mix-blend-mode: color-burn;
  transition: all 0.2s ease;
}
.flexInLine img:hover {
  filter: grayscale(30%);
  cursor: pointer;
}
.parceiros h3 {
  color: #666;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 2.5rem 0 0.4em 0;
}
.parceiros {
  max-width: 82.5rem;
  width: 95%;
  margin: 0 auto;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  text-align: left;
}
.parceirosAll {
  height: 80%;
}
.parceiros::-webkit-scrollbar {
  width: 8px;
}
.parceiros::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.experiencia {
  border-radius: 0.625rem;
  background: #ffd01b;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  margin: 2rem auto 2.25rem;
  max-width: 82.5rem;
  width: 95%;
}
.experiencia h3 {
  margin: 0;
  color: #0261a3;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.parceiros a {
  margin: 0;
  color: #3f3f3f;
  text-align: inherit;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.parceiros a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #161616;
}
.copyright {
  background: #0261a3;
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0.4rem;
  text-align: center;
}
.copyright p {
  margin: 0;
}
.footerAll {
  margin: auto auto 0;
  display: flex;
  max-width: 82.5rem;
  padding: 2rem 0 2rem;
  width: 95%;
  gap: 1rem;
  flex-wrap: wrap;
}
footer {
  background: #f4f4f4;
  margin-top: auto;
}
.footerAll ul {
  list-style-type: none;
  padding: 0;
  margin: 0.5rem 0;
}
.footerAll li {
  margin: 0.1rem 0;
}
.footerAll a:hover {
  color: #000000;
  text-decoration: underline;
}
.footerAll h3 {
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  white-space: nowrap;
}
.logoAndRedes p {
  color: #a0a0a0;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 21rem;
}
.logoAndRedes,
.institucional,
.CentralDeAtendimento,
.Recebapromocoes {
  flex-grow: 1;
}
nav > .menuMobileIcon {
  width: 2rem;
  height: 2rem;
}
/* <!-- Modal Mobile --> */
.modal-menu {
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.op-menu {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.op-menu header {
  display: flex;
  align-items: center;
}
.op-menu header > h1 {
  flex: 1;
  text-align: center;
  color: #0261a3;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 2.3rem;
}
.op-menu svg {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  fill: #0261a3;
}
.op-menu a {
  color: #3d3d3d;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  transition: all 0.3s ease;
}
.op-menu a:hover {
  color: #0261a3;
  background: #f4f4f4;
  border-radius: 1rem;
}
.menuMobileRedes > .redesSociais > img {
  height: 1.5rem;
  width: auto;
}
.menuMobileRedes > .redesSociais {
  gap: 2rem;
}
.menuMobileRedes img {
  width: 100%;
}
.op-menu a:active {
  color: #f4f4f4;
  background: #0261a3;
  border-radius: 1rem;
  transition: all 0s ease;
}
.linee {
  width: 100%;
  height: 1px;
  background-color: #bebebe;
  margin: 0.5rem;
}
.op-menu section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menuMobileIcon {
  display: none;
}
@media screen and (max-width: 627px) {
  .flex2 {
    flex-direction: column !important;
  }
  .padaria img {
    max-width: 100% !important;
  }
}
@media screen and (max-width: 768px) {
  .flex2 {
    flex-direction: row;
  }
  .vendaComAGente,
  .CanaisDeAtendimento {
    max-width: none;
  }
  .HorarioFuncionamento {
    margin: 2rem 0 0;
    align-items: center;
  }
  .trabalheConosco-vendaConosco-quemSomos {
    gap: 1rem !important;
  }
  .LojaHorario,
  .LojaHorario p {
    font-size: 0.9rem;
  }
  .LojaHorario svg {
    height: 0.8rem;
  }
  .IconLojaInfo {
    width: 2.5625rem !important;
    height: 2.53913rem !important;
  }
  .menuDesktop {
    display: none;
  }
  .menuMobileIcon {
    display: block;
  }
  .logoAndRedes,
  .institucional,
  .CentralDeAtendimento {
    margin-bottom: 20px;
    flex-grow: 1;
  }
  .maintop img {
    display: none;
  }
  .maintop {
    justify-content: center !important;
  }
  .bemVindo,
  .esqText h1 {
    text-align: center;
  }
  .esqText h1 {
    font-size: 2.5rem;
  }
  .bemVindo {
    width: 90%;
  }
  .noMercado {
    width: 90% !important;
    display: none;
  }
  .maintop {
    margin: 3rem auto 0;
  }
  .buttonLojas {
    white-space: nowrap;
    color: #014270;
    display: flex;
    text-align: center;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 700;
    padding: 0.78rem 1.3rem;
    border-radius: 0.5rem;
    background: #ffd01b;
    border: none;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  .buttonLojas:hover {
    background: #ffdf4f;
    color: #0b4f80;
  }
  .esqText {
    gap: 2rem;
  }
  .maintop,
  .maintop2 {
    width: 95%;
    flex-direction: column;
  }
  .flex2 {
    width: 100%;
  }
  .blocoAnuncio {
    width: 100%;
    height: 7rem;
  }
  .vendaComAGente,
  .CanaisDeAtendimento {
    flex-grow: 1;
  }
  .bemVindo {
    font-size: 0.75rem;
  }
  .SacolaDeCompras {
    display: block !important;
    max-width: 23.0625rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 2.5rem;
  }
  .esqText {
    align-items: center;
  }
  .qualidade p,
  .variedade p,
  .preco p {
    display: none;
  }
  .qualidade h3,
  .variedade h3,
  .preco h3 {
    font-size: 0.75rem;
  }
  .qualidade img,
  .variedade img,
  .preco img {
    height: 1.3rem;
  }
  .qualidade,
  .variedade,
  .preco {
    padding: 0.59rem 0.75rem 0.59rem 0.9rem;
    background: #f0f5f9;
    display: flex;
    flex-grow: 1;
    border-radius: 0.5rem;
    gap: 0.4rem;
    min-width: 4rem;
  }
  .QualidadeVariedadePreco > .line {
    display: none;
  }
  .QualidadeVariedadePreco {
    background: none;
    gap: 0.8rem;
    margin: 2rem auto 0;
  }
  .vendaComAGente button,
  .CanaisDeAtendimento button {
    width: 100%;
  }
  .FacaSeuCartao {
    max-width: none;
    width: auto;
  }
}
@media screen and (max-width: 970px) {
  .footerAll {
    gap: 1rem;
    justify-content: center;
  }
  .institucional,
  .Recebapromocoes,
  .CentralDeAtendimento {
    padding-top: 0rem;
  }
}
.logoAndRedes img {
  width: 14rem;
}
.institucional a,
.CentralDeAtendimento a {
  color: #929292;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
  transition: all 0.3s ease;
  cursor: pointer;
}
.institucional,
.Recebapromocoes,
.CentralDeAtendimento {
  padding-top: 1rem;
}
.Recebapromocoes p {
  margin: 0.3rem 0 1rem;
  font-weight: 300;
  font-size: 0.9rem;
  color: #b1b1b1;
  max-width: 20rem;
  line-height: 1.5rem;
  letter-spacing: 0.3px;
  line-height: normal;
}
.Recebapromocoes input {
  max-width: 7rem;
  width: 100%;
  padding: 9px 20px;
  letter-spacing: 0.3px;
  color: #313131;
  outline: 0;
  border-radius: 5px 0 0 5px;
  font-size: 14px;
  border: 1px solid #dcdcdc;
}
.Recebapromocoes button {
  background-color: #0261a3;
  color: #fff;
  border: none;
  padding: 9px 20px;
  border-radius: 0 5px 5px 0;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #0261a3;
}
.logoAndRedes img {
  width: 14.375rem;
  mix-blend-mode: multiply;
}
.redesSociais {
  display: flex;
  gap: 1rem;
}
.redesSociais img {
  width: 1.3rem;
  padding: 0.62rem;
  background-color: #0261a3;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  object-fit: none;
}
.redesSociais img:hover {
  cursor: pointer;
  background-color: #00518b;
}
nav,
.maintop,
.maintop2 {
  max-width: 82.5rem;
  display: flex;
  justify-content: space-between;
  width: 95%;
}
.caminho_page {
  color: #696969;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 82.5rem;
  width: 95%;
  margin: 1.44rem auto;
}
.contato {
  display: flex;
  background: #f5f5f5;
  border-radius: 1rem;
  align-items: center;
  padding: 1rem;
  width: calc(min(33.33%, 346px));
  flex-grow: 1;
  transition: all 0.3s ease;
}
.contato img,
.imgCar {
  width: 1.9625rem;
  height: 1.93913rem;
  padding: 10px;
  border-radius: 0.5rem;
  background: #0261a3;
  @media screen and (max-width: 480px) {
    width: 1.5rem;
    height: 1.5rem;
  }
}
@media screen and (max-width: 359px) {
  .entrarEmContato {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  nav img {
    height: 2.5rem;
  }
  .Parceiros {
    gap: 1rem !important;
  }
  .Parceiros img {
    width: 9rem !important;
  }
  .vendaComAGente,
  .CanaisDeAtendimento {
    padding: 1.5rem 0.7rem;
  }
  .entrarEmContato {
    gap: 0.6rem;
  }
  .contato {
    width: 100%;
  }
  .institucional,
  .Recebapromocoes,
  .CentralDeAtendimento {
    padding-top: 0rem;
  }
  .footerAll {
    flex-direction: column;
  }
  .WhatsappTellAlterarLoja {
    gap: 5px !important;
  }
  .WhatsappTellAlterarLoja a {
    padding: 0.5rem 0.5rem !important;
  }
  .LojaEndereco {
    margin-bottom: 0.4rem !important;
  }
  .LojaEndereco {
    font-size: 0.8rem;
  }
  .LojaNome {
    font-size: 1.1rem;
  }
  .caminho_page {
    font-size: 0.8rem;
    margin: 1rem auto;
  }
}
@media screen and (max-width: 344px) {
  .lojaStatus img {
    display: none;
  }
}
.Recebapromocoes :is(h3, p) {
  white-space: normal;
}
.TituloContato {
  color: #0261a3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 auto;
  max-width: 82.5rem;
  width: 95%;
  height: 5.25rem;
  border-radius: 1rem;
  background: #f5f5f5;
  margin-bottom: 1rem;
}
.lojas {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  max-width: 82.5rem;
  margin: 0 auto;
  gap: 1rem;
}
.lojaAndNumber h1,
h3 {
  margin: 0 0.7rem;
}
.lojaAndNumber h4 {
  color: rgba(19, 36, 56, 0.73);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  cursor: initial !important;
  user-select: all;
  margin: 0.5rem 0.7rem 0;
}
.lojaAndNumber h4::selection {
  background: #0261a3;
  color: #ffffff;
}
.lojaAndNumber h1,
h3 {
  color: #07111c;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.tituloPageLojas,
.TituloParceiros {
  max-width: 82.5rem;
  margin: 0 auto;
  width: 95%;
  margin-bottom: 1rem;
}
body::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.listlojas {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  max-width: 82.5rem;
  margin: 0 auto;
  gap: 1rem;
}
.Close,
.Open {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
.Close {
  color: #8b1818;
}
.Open {
  color: #368b18;
}
.lojaStatus p {
  display: flex;
  gap: 0.3rem;
  margin: 0;
}
.lojaStatus span {
  color: #999;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.lojaStatus img {
  width: 1rem;
}
.lojaStatus {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: #999;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.detalhesLojas {
  border-radius: 1rem;
  background: #f5f5f5;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: all 0.3s ease;
}
.detalhesLojas:hover {
  background: #ebebeb;
}
.lineButton {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.nameLoja h3 {
  color: #333;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  margin: 0;
}
.nameLoja p {
  color: #999;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90.9%;
  margin: 0.5rem 0 0 0;
}
.imgNameLojas {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.localAndWhats {
  gap: 0.5rem;
  display: flex;
}
.localizaçãoButton,
.whatsappButton {
  border-radius: 0.4rem;
  border: 1px solid #0261a3;
  padding: 0.51rem 0.72rem;
  color: #0261a3;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}
.localizaçãoButton::before {
  content: "";
  position: absolute;
  width: 0.9rem;
  height: 1.2rem;
  background-image: url("/src/assets/localizacaoIconWhite.svg");
  background-size: cover;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.whatsappButton::before {
  content: "";
  position: absolute;
  width: 1.1rem;
  height: 1.1rem;
  background-image: url("/src/assets/whatsappIconWhite.svg");
  background-size: cover;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.localizaçãoButton:hover::before,
.whatsappButton:hover::before {
  opacity: 1;
}
.localizaçãoButton:hover,
.whatsappButton:hover {
  background: #0261a3;
  color: #fff;
  display: flex;
  justify-content: center;
}
.whatsappButton img {
  width: 1.1rem;
  height: 1.1rem;
}
.localizaçãoButton img {
  width: 0.9rem;
  height: 1.2rem;
}
.imgCarNossasLojas {
  width: 2.0625rem;
  height: 2.03913rem;
  padding: 1rem;
  border-radius: 0.6rem;
  background: #0261a3;
  @media screen and (max-width: 480px) {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.Parceiros img {
  width: 6rem;
  object-fit: contain;
}
.Parceiros {
  max-width: 82.5rem;
  width: 95%;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2.25rem !important;
}
.marca {
  flex-grow: 1;
  padding: 0.6rem;
  border-radius: 1em;
  background: #d9d9d9;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 347px) {
  .marca {
    width: 95%;
  }
  .Parceiros img {
    width: 9rem;
  }
}
@media screen and (max-width: 330px) {
  .lojaStatus span {
    display: none;
  }
  .lojaStatus p {
    flex-direction: column;
  }
}
/* <!-- Modal politica e forma de pagamento --> */
.modal-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.modal {
  background-color: #fff;
  border-radius: 8px;
  max-width: 800px;
  width: 90%;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  overflow: auto;
}
.modal header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.modal header h1 {
  font-size: 24px;
  color: #007bff;
}
.modal header button {
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #777;
}
.modal main {
  margin-bottom: 20px;
}
.modal footer {
  text-align: center;
  display: flex;
  border-top: 1px solid #ccc;
  justify-content: center;
}
.modal footer p {
  font-size: 14px;
  color: #777;
}
.inputEmail {
  white-space: nowrap;
}
.LojaInfoAndHorarioFuncionamento {
  max-width: 82.5rem;
  width: 95%;
  margin: 1.44rem auto;
  display: flex;
  justify-content: space-between;
}
.LojaInfoAndHorarioFuncionamento h5 {
  color: #4d4d4d;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 1.5rem auto;
}
.IconLojaInfo {
  border-radius: 0.8rem;
  background: #0261a3;
  width: 3.5625rem;
  height: 3.53913rem;
  padding: 0.9rem;
}
.WhatsappTellAlterarLoja img {
  height: 0.85888rem;
}
.LojaInfo {
  display: flex;
  gap: 1rem;
}
.WhatsappTellAlterarLoja {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.WhatsappTellAlterarLoja svg {
  fill: #0261a3;
  height: 0.85888rem;
  transition: all 0.2s ease;
}
.LojaWhatsapp svg {
  stroke: #0261a3;
  stroke-width: 0.4rem;
  height: 1rem;
  transition: all 0.2s ease;
}
.WhatsappTellAlterarLoja a {
  border-radius: 0.5rem;
  border: 1.5px solid #0261a3;
  flex-grow: 1;
  display: flex;
  padding: 0.5rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
  flex-shrink: 0;

  color: #0261a3;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 0.2s ease;
}
.WhatsappTellAlterarLoja a:hover {
  background: #0261a3;
  color: #fff;
  cursor: pointer;
}
.WhatsappTellAlterarLoja a:hover svg {
  fill: #ffffff;
  stroke: #ffffff;
}
.HorarioFuncionamento {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.HF {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 19rem;
}
.HF p {
  margin: 0;
  color: #333;
  font-size: 0.95rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.HF :hover {
  color: #0261a3;
}
.pontS {
  color: #cfcfcf !important;
  text-align: center !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}
.LojaMapa iframe {
  max-width: 82.5rem;
  width: 95%;
  border-radius: 1.1rem;
}
.LojaMapa {
  display: flex;
  justify-content: center;
}
.LojaNome {
  color: #333;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0.3rem;
}
.LojaEndereco {
  color: #999;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90.9%;
  margin-bottom: 1rem;
}
.LojaHorario svg {
  fill: #333;
  height: 0.9rem;
}
.LojaHorario {
  display: flex;
  gap: 0.31rem;
  align-items: center;
}
.privacidade {
  display: flex;
  border-radius: 0.625rem;
  background: #f1f1f199;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 6%;
  cursor: pointer;
  transition: 0.3s ease;
}
.privacidade:hover {
  background: #0261a3;
  color: color #fff;
}
.privacidade:hover,
.privacidade:hover :is(h3, p) {
  color: #fff;
}
.privacidade h3 {
  color: #373737;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  transition: 0.3s ease;
  line-height: 100%;
}
.privacidade p {
  color: #787878;
  text-align: right;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  transition: 0.3s ease;
  line-height: normal;
}
.opSobre {
  max-width: 82.5rem;
  width: 95%;
  margin: 0 auto;
}
.trabalheConosco,
.vendaConosco,
.quemSomos {
  display: flex;
  border-radius: 0.625rem;
  background: rgba(241, 241, 241, 0.6);
  align-items: center;
  justify-content: space-between;
  padding: 2rem 10px;
  flex-direction: column;
  cursor: pointer;
  flex-grow: 1;
  transition: 0.3s ease;
}
.trabalheConosco p,
.vendaConosco p,
.quemSomos p {
  margin: 0;
  color: #787878;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  transition: 0.3s ease;
  line-height: normal;
}
.trabalheConosco h3,
.vendaConosco h3,
.quemSomos h3 {
  color: #373737;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 700;
  transition: 0.3s ease;
  line-height: 100%;
}
.trabalheConosco:hover,
.vendaConosco:hover,
.quemSomos:hover {
  background: #0261a3;
  transition: 0.3s ease;
  color: #fff;
}
.trabalheConosco:hover p,
.vendaConosco:hover p,
.quemSomos:hover p,
.trabalheConosco:hover h3,
.vendaConosco:hover h3,
.quemSomos:hover h3 {
  transition: 0.3s ease;
  color: #fff;
}
.trabalheConosco-vendaConosco-quemSomos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}
.trabalheConosco.ativo,
.vendaConosco.ativo,
.quemSomos.ativo {
  background: #0261a3;
  color: #fff;
}
.trabalheConosco.ativo p,
.vendaConosco.ativo p,
.quemSomos.ativo p,
.trabalheConosco.ativo h3,
.vendaConosco.ativo h3,
.quemSomos.ativo h3 {
  color: #fff;
}
.trabalheConoscoAtivo,
.quemSomoAtivo {
  max-width: 82.5rem;
  width: 95%;
  margin: 0 auto;
}
.quemSomoAtivo p {
  text-align: justify;
}
/* Estilos para a classe "quemSomosInfo" */
.quemSomosInfo {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  text-align: justify;
  margin-bottom: 30px;
}

.quemSomosInfo p {
  margin-bottom: 10px;
}

/* Estilizar links dentro do conteúdo */
.quemSomosInfo a {
  color: #007bff;
  text-decoration: underline;
}

.quemSomosInfo a:hover {
  color: #0056b3;
}
.quemSomoAtivo h1,
.trabalheConoscoAtivo h1 {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}
.vaga {
  color: #0261a3;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  display: inline-flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-grow: 1;
  border-radius: 0.625rem;
  background: rgba(2, 97, 163, 0.05);
}
.vagasAll {
  display: flex;
  gap: 0.8rem;
  flex-flow: wrap;
}
.trabalheConoscoAtivo a {
  text-decoration: underline;
}
.promocoes {
  max-width: 82.5rem;
  width: 95%;
  margin: 0 auto;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  align-items: center;
  contain: content;
  margin-top: 2rem;
}
.promocoes {
  overflow: hidden;
  position: relative;
}
.carousel {
  display: flex;
  transition: transform 1s ease-in-out;
}
.carousel-item {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.padaria img {
  max-width: 25rem;
  border-radius: 0.625rem;
}
