#root {
  margin: 0 auto;
  font-family: "Source Sans 3", sans-serif;
  cursor: default;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
nav {
  align-items: flex-end;
  white-space: nowrap;
  margin: 1rem auto 0;
}
nav img {
  height: 4rem;
  mix-blend-mode: multiply;
}
nav ul {
  display: flex;
  gap: 3.2rem;
  margin: 0;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  transition: 0.3s;
}
nav ul li a:hover {
  color: #0261a3;
}
.noMercado {
  display: flex;
  color: #014270;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  width: 15.25rem;
  line-height: 90%;
  border-radius: 0.5rem;
  background: #f0f5f9;
  padding: 0.5rem 0.75rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.esqText h1 {
  color: #014270;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 80%;
  max-width: 33.25rem;
}
.bemVindo {
  color: #a0a0a0;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 27.375rem;
}
.buttonContato {
  color: #014270;
  display: flex;
  text-align: center;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 700;
  padding: 0.7rem 1.3rem;
  border-radius: 0.5rem;
  background: #ffd01b;
  border: none;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s;
}
.buttonContato:hover {
  background: #ffdf4f;
  color: #0b4f80;
}
.buttonContato:active {
  background: #ffdf4fb4;
  color: #0b4f80cb;
}
.buttonContato:focus {
  outline: none;
}
.buttonLojas {
  color: #014270;
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  text-decoration-line: underline;
  background: none;
  border: none;
  transition: color 0.2s;
}
.buttonLojas:hover {
  color: #206da3;
  cursor: pointer;
}
.buttonLojas:active {
  color: #104b75;
}
.maintop {
  margin: 4.4rem auto 0;
  width: 95%;
}
.maintop img {
  width: 23.0625rem;
}
.botoes {
  display: flex;
  gap: 1rem;
}
.esqText {
  display: flex;
  gap: 2.2rem;
  flex-direction: column;
}
.esqText h1 {
  margin: 0;
}
.esqText p {
  margin: 0;
}
.QualidadeVariedadePreco {
  display: flex;
  justify-content: space-between;
  max-width: 1114px;

  border-radius: 0.625rem;
  background: #f0f5f9;
  margin: 4.4rem auto 0;
  padding: 1.3rem 2rem;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.qualidade,
.variedade,
.preco {
  display: flex;
  gap: 1rem;
}
.qualidade p,
.variedade p,
.preco p {
  margin: 0;
  color: #404040;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.qualidade h3,
.variedade h3,
.preco h3 {
  margin: 0;
  color: #0261a3;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.qualidade img,
.variedade img,
.preco img {
  width: 1.7rem;
  align-self: center;
}
.line {
  content: "";
  width: 1px;
  background-color: #8c8c8c93;
  margin: 0 0.5rem;
  height: 2.3rem;
  align-self: center;
}
.maintop2 {
  flex-direction: row;
  margin: 2.5rem auto 0;
  gap: 2rem;
  align-items: center;
}
.blocoAnuncio {
  flex-grow: 1;
  background-image: url("./assets/anuncio.svg");
  height: 17rem;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.625rem;
  background-size: cover;
}
.FacaSeuCartao {
  background-image: url("./assets/facaCartao.svg");
  transition: opacity 0.2s ease;
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: cover;
  border-radius: 0.625rem;
  color: #f0f5f9;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 6.0625rem;
  justify-content: center;
  cursor: pointer;
}
.FacaSeuCartao h3 {
  margin: 0;
  max-width: 15rem;
  color: #fff;
}
.FacaSeuCartao button {
  border: none;
  border-radius: 0.3rem;
  background: #dee4e7;
  padding: 0.3rem 0.6rem;
  width: 12rem;
  color: #0261a3;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  cursor: pointer;
  font-family: "Source Sans 3", sans-serif;
  transition: 0.2s;
}
.FacaSeuCartao button:hover {
  background: #fff;
  color: #0261a3;
}
.vendaComAGente,
.CanaisDeAtendimento {
  border-radius: 0.625rem;
  background: #f0f5f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1.3rem;
  gap: 1rem;
}
.vendaComAGente h3,
.CanaisDeAtendimento h3 {
  color: #132438;
  text-align: center;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.vendaComAGente strong {
  color: #0261a3;
  text-align: center;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.vendaComAGente button,
.CanaisDeAtendimento button {
  display: flex;
  width: 10.0625rem;
  height: 1.75rem;
  padding: 0.8rem 2.8125rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 0.375rem;
  border: 2px solid #0261a3;
  background-color: transparent;
  color: #0261a3;
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: 0.2s;
  cursor: pointer;
}
.vendaComAGente button:hover,
.CanaisDeAtendimento button:hover {
  background-color: #0261a3;
  color: #ffffff;
}
.entrarEmContato {
  display: flex;
  gap: 1.25rem;
}
.flex2 {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flexInLine {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}
@media screen and (max-width: 856px) {
  .flexInLine {
    gap: 0.3rem;
  }
}
.flexInLine img {
  width: 3rem;
  padding: 0.8rem;
  border-radius: 0.625rem;
  background: #d9d9d9;
  filter: grayscale(100%);
  object-fit: contain;
  mix-blend-mode: color-burn;
}
.parceiros h3 {
  color: #666;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 2.5rem 0 0.4em 0;
}
.parceiros {
  max-width: 74rem;
  width: 95%;
  margin: 0 auto;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  text-align: left;
}
.parceiros::-webkit-scrollbar {
  width: 8px;
}
.parceiros::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.experiencia {
  border-radius: 0.625rem;
  background: #ffd01b;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  margin: 2rem auto 0;
  max-width: 73rem;
  width: 95%;
}
.experiencia h3 {
  margin: 0;
  color: #0261a3;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.parceiros a {
  margin: 0;
  color: #3f3f3f;
  text-align: inherit;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.parceiros a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #161616;
}
.copyright {
  background: #0261a3;

  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0.4rem;
  text-align: center;
}
.copyright p {
  margin: 0;
}
.footerAll {
  margin: 2.25rem auto 0;
  display: flex;
  gap: 5rem;
  max-width: 73rem;
  padding: 2rem 0 2rem;
  width: 95%;
}
footer {
  background: #f4f4f4;
}
.footerAll ul {
  list-style-type: none;
  padding: 0;
  margin: 0.5rem 0;
}
.footerAll li {
  margin: 0.1rem 0;
}
.footerAll a:hover {
  color: #000000;
  text-decoration: underline;
}
.footerAll h3 {
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
.footerAll p {
  color: #a0a0a0;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 21rem;
}
.institucional a,
.CentralDeAtendimento a {
  color: #929292;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}
.institucional,
.CentralDeAtendimento {
  padding-top: 1rem;
}
.logoAndRedes img {
  width: 14.375rem;
  mix-blend-mode: multiply;
}
.redesSociais {
  display: flex;
  gap: 1.25rem;
}
.redesSociais img {
  width: 1.25094rem;
  padding: 0.62rem;
  background-color: #0261a3;
  border-radius: 0.5rem;
}
nav,
.maintop,
.maintop2 {
  max-width: 73rem;
  display: flex;
  justify-content: space-between;
}
.caminho_page {
  color: #696969;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 73rem;
  width: 95%;
  margin: 1.44rem auto;
}
.contato {
  display: flex;
  background: #f5f5f5;
  border-radius: 1rem;
  align-items: center;
  padding: 1rem;
  width: calc(min(33.33%, 346px));
  flex-grow: 1;
  transition: 0.3s;
}
.contato img,
.imgCar {
  width: 1.9625rem;
  height: 1.93913rem;
  padding: 10px;
  border-radius: 0.5rem;
  background: #0261a3;
  @media screen and (max-width: 480px) {
    width: 1.5rem;
    height: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .contato {
    width: 100%;
  }
}
.TituloContato {
  color: #0261a3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 auto;
  max-width: 73rem;
  width: 95%;
  height: 5.25rem;
  border-radius: 1rem;
  background: #f5f5f5;
  margin-bottom: 1rem;
}
.lojas {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  max-width: 73rem;
  margin: 0 auto;
  gap: 1rem;
}
.lojaAndNumber h1,
h3 {
  margin: 0 0.7rem;
}
.lojaAndNumber h4 {
  color: rgba(19, 36, 56, 0.73);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  cursor: initial !important;
  user-select: all;
  margin: 0.5rem 0.7rem 0;
}
.lojaAndNumber h4::selection {
  background: #0261a3;
  color: #ffffff;
}
.lojaAndNumber h1,
h3 {
  color: #07111c;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.tituloPageLojas,
.TituloParceiros {
  max-width: 73rem;
  margin: 0 auto;
  width: 95%;
  margin-bottom: 1rem;
}
body::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.listlojas {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  max-width: 73rem;
  margin: 0 auto;
  gap: 1rem;
  margin-bottom: 5.38rem;
}
.Close,
.Open {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
.Close {
  color: #8b1818;
}
.Open {
  color: #368b18;
}
.lojaStatus p {
  display: flex;
  gap: 0.3rem;
  margin: 0;
}
.lojaStatus span {
  color: #999;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.lojaStatus img {
  width: 1rem;
}
.lojaStatus {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: #999;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.detalhesLojas {
  border-radius: 1rem;
  background: #f5f5f5;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: 0.3s;
}
.detalhesLojas:hover {
  background: #ebebeb;
}
.lineButton {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.nameLoja h3 {
  color: #333;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  margin: 0;
}
.nameLoja p {
  color: #999;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90.9%;
  margin: 0.5rem 0 0 0;
}
.imgNameLojas {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.localAndWhats {
  gap: 0.5rem;
  display: flex;
}
.localizaçãoButton,
.whatsappButton {
  border-radius: 0.4rem;
  border: 1px solid #0261a3;
  padding: 0.51rem 0.72rem;
  color: #0261a3;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}
.localizaçãoButton::before {
  content: "";
  position: absolute;
  width: 0.9rem;
  height: 1.2rem;
  background-image: url("/src/assets/localizacaoIconWhite.svg");
  background-size: cover;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.whatsappButton::before {
  content: "";
  position: absolute;
  width: 1.1rem;
  height: 1.1rem;
  background-image: url("/src/assets/whatsappIconWhite.svg");
  background-size: cover;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.localizaçãoButton:hover::before,
.whatsappButton:hover::before {
  opacity: 1;
}
.localizaçãoButton:hover,
.whatsappButton:hover {
  background: #0261a3;
  color: #fff;
  display: flex;
  justify-content: center;
}
.whatsappButton img {
  width: 1.1rem;
  height: 1.1rem;
}
.localizaçãoButton img {
  width: 0.9rem;
  height: 1.2rem;
}
.imgCarNossasLojas {
  width: 2.0625rem;
  height: 2.03913rem;
  padding: 1rem;
  border-radius: 0.6rem;
  background: #0261a3;
  @media screen and (max-width: 480px) {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.Parceiros img {
  width: 6rem;
  object-fit: contain;
}
.Parceiros {
  max-width: 73rem;
  width: 95%;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.marca {
  flex-grow: 1;
  padding: 0.6rem;
  border-radius: 1em;
  background: #d9d9d9;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 347px) {
  .marca {
    width: 95%;
  }
  .Parceiros img {
    width: 100%;
  }
}
